[[local|localrc]]
#OFFLINE=True
DEST=/opt/stack

# Enable Logging
LOGFILE=$DEST/logs/stack.sh.log
VERBOSE=True
LOG_COLOR=True
SCREEN_LOGDIR=$DEST/logs

# Pre-requisite
ENABLED_SERVICES=rabbit,mysql,key

# Horizon
ENABLED_SERVICES+=,horizon

# Nova
ENABLED_SERVICES+=,n-api,n-crt,n-obj,n-cpu,n-cond,n-sch

# Glance
ENABLED_SERVICES+=,g-api,g-reg

# Neutron
ENABLED_SERVICES+=,q-svc,q-agt,q-dhcp,q-l3,q-meta

# Enable LBaaS V2
#ENABLED_SERVICES+=,q-lbaasv2

# Neutron - VPN as a Service
#ENABLED_SERVICES+=,q-vpn

# Neutron - Firewall as a Service
#ENABLED_SERVICES+=,q-fwaas

# Cinder
ENABLED_SERVICES+=,c-api,c-vol,c-sch

# Swift
#ENABLED_SERVICES+=,s-proxy s-object s-container s-account

# Tempest
ENABLED_SERVICES+=,tempest

# Password Configure
ADMIN_PASSWORD=devstack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=fd0c560962b697770b11

# Service Repos
GIT_BASE=https://github.com
GIT_BASE_LOCAL=http://code.inspur.local
CINDER_REPO=${GIT_BASE_LOCAL}/openstack/cinder.git
GLANCE_REPO=${GIT_BASE_LOCAL}/openstack/glance.git
HEAT_REPO=${GIT_BASE_LOCAL}/openstack/heat.git
HORIZON_REPO=${GIT_BASE_LOCAL}/openstack/horizon.git
IRONIC_REPO=${GIT_BASE_LOCAL}/openstack/ironic.git
KEYSTONE_REPO=${GIT_BASE_LOCAL}/openstack/keystone.git
NEUTRON_REPO=${GIT_BASE_LOCAL}/openstack/neutron.git
NEUTRON_FWAAS_REPO=${GIT_BASE_LOCAL}/openstack/neutron-fwaas.git
NEUTRON_LBAAS_REPO=${GIT_BASE_LOCAL}/openstack/neutron-lbaas.git
NEUTRON_VPNAAS_REPO=${GIT_BASE_LOCAL}/openstack/neutron-vpnaas.git
NOVA_REPO=${GIT_BASE_LOCAL}/openstack/nova.git
SWIFT_REPO=${GIT_BASE_LOCAL}/openstack/swift.git
REQUIREMENTS_REPO=${GIT_BASE_LOCAL}/openstack/requirements.git
TEMPEST_REPO=${GIT_BASE_LOCAL}/openstack/tempest.git
TEMPEST_LIB_REPO=${GIT_BASE_LOCAL}/openstack/tempest-lib.git

RHEL7_RDO_REPO_RPM="https://repos.fedorapeople.org/repos/openstack/openstack-liberty/rdo-release-liberty-2.noarch.rpm"
RHEL7_RDO_REPO_ID="openstack-liberty"

####
HOST_IP=192.168.57.11
SERVICE_HOST=$HOST_IP
MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
